<%= link_to "sign out",  destroy_user_session_path, method: :delete %>
<script>
  $(function() {
    $("#flashmessages").hide();
    $("body").css("background", "url('/assets/board_background.png')");
    change_turn("<%= @game.turn == @game.white_player_id ? 'black' : 'white' %>");
  });
  function change_turn(turn) {
    if (turn === 'white') {
      $('#white_player_id').hide();
      $('#black_player_id').show();
     }
    else
    {
      $('#black_player_id').hide();
      $('#white_player_id').show();
    }
  }
</script>
<div id="flashmessages"></div>
<div class="chessboard <%= "waiting" if @waiting %>">
  <div class='text-center'>
    <h3><%= link_to "Play against yourself", play_against_yourself_path, class: 'btn btn-info',method: :post if @waiting%></h3>
    <br />
  </div>
  <br />
  <div class="row">
    <div id="turn" class="col-1 offset-1">
        <h4>Turn:</h4>
        <h5 id= "white_player_id" class="white_turn"><%= ("White: " + @game.white_player.name) unless @waiting%></h5></br>
        <h5 id= "black_player_id" class="black_turn"><%= ("Black: " + @game.black_player.name) unless @waiting%></h5></br>
        <%= image_tag gravatar_for(@game.turn == @game.white_player_id ? @game.white_player.email : @game.black_player.email )unless @waiting%>
    </div>
    <div class="col-8">
      <% @board.reverse_each.with_index do |row, index_row| %>
          <%index_row = @board.length - index_row - 1 %>
          <div class = "row offset-2">
            <% row.each_with_index do |field, index_field| %>
              <span row = "<%=index_row%>" column = "<%=index_field%>" class="chess_field ui-widget-header <%= field[:class]%>">
                <% unless field[:piece].nil? %>
                  <span id="<%= field[:piece].id %>" class="ui-widget-content piece"><%= image_tag(field[:piece].image)%></span>
                <%end%>
              </span>
            <%end%>
          </div>
      <%end%>
    </div>
    <br class="clear"/>
  </div>
</div>

<!-- Modal for pawn promotion-->
<!-- <% if @game.game_status == 0 %> -->
  <div class="modal fade" id="pawnPromotion" tabindex="-1" role="dialog" aria-labelledby="pawnPromotionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="pawnPromotionLabel">Choose a Piece</h4>
        </div>
      </div>
    </div>
  </div>
<!-- <% end %> -->

<!-- <button data-toggle="modal" data-target="#pawnPromotion">Test</button> -->
<%= link_to "sign out",  destroy_user_session_path, method: :delete %>

<script>
  Pusher.logToConsole = true;
  Pusher.log = function(msg) {
  console.log(msg);
};
  var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>", {
    cluster: 'ap1',
    encrypted: true
  });
  var game = pusher.subscribe('game_<%="#{@game.id}"%>');
  game.bind('second_player_joined', function(data) {
    if (!window.location.href.substring(window.location.href).match('loaded')) {
      window.location = window.location + '#loaded';
      window.location.reload();
    }
  });
  // var pawn_promote_channel = pusher.subscribe('pawn_promote_game' + <%= @game.id.to_s %>);
  var piece_moved_channel = pusher.subscribe('piece_moved_game' + <%= @game.id.to_s %>);

  $(function() {
      makePiecesDraggable();
      let pieceId = 0;
      $(".piece").mousedown(function(){
        pieceId = $(this).attr('id');
      });
      $(".chess_field").droppable({
        drop: function(event, ui) {
          let row = $(this).attr('row');
          let column = $(this).attr('column');
          $.ajax({type: "PUT",
                 url: "/pieces/" + pieceId,
                 data: {
                    piece: {
                      row_coordinate: row,
                      column_coordinate: column,
                      id: pieceId
                      }
                 },
                // error: function(xhr, status) {
                //     if (xhr.status === 500 || xhr.status === 400){}
                //     window.location.reload();
                //     },
                // success: function(data) {
                //   if (data.piece.type === 'Pawn' && (data.piece.row_coordinate === 7 || data.piece.row_coordinate === 0)) {
                //       $("#pawnPromotion").html(data);
                //       jQuery("#pawnPromotion").modal('show');
                //     }
                //   window.location = window.location + '#loaded'; }
                 error: function(){
                   window.location.reload();
                 }
          });
        }
      });

  });
  piece_moved_channel.bind('piece_moved', function(data) {
    let flashmessage = "<b><p class='text-center alert alert-info'>"+data.message+"</p></b>";
    $("#flashmessages").hide();
    $("#flashmessages").find("p").remove();
    if (data.message) {
      $("#flashmessages").show();
      $("#flashmessages").append(flashmessage);
     };
    //  $('#pawnPromotion').modal('toggle');
    let piece = $("[row=" + data.row_origin + "][column=" + data.column_origin + "]").find("span");
    console.log(piece);
    $("[row=" + data.row_destination + "][column=" + data.column_destination + "]").find("span").remove();
    $("[row=" + data.row_destination + "][column=" + data.column_destination + "]").append(piece);
    $("[row=" + data.row_origin + "][column=" + data.column_origin + "]").find("span").remove();
    piece.css('top', '');
    piece.css('left', '');
    if (data.row_destination == 0 && piece.type == 'Pawn' || data.row_destination == 7 && piece.type == 'Pawn') {
      $('#pawnPromotion').modal('toggle');
    };
    makePiecesDraggable();
    change_turn(data.turn);
  });
  // pawn_promote_channel.bind('pawn_promoted', function(data) {
  //   console.log('test');
  // });

  function makePiecesDraggable(){
    $(".chessboard .piece").draggable({
      opacity: .4,
      create: function(){$(this).data('position',$(this).position())},
      cursor:'move',
      start:function(){$(this).stop(true,true)}
    });
  };
</script>
