
<script>
$(function() {
    $("body").css("background", "url('/assets/board_background.png')");
  });
</script>

<div class="chessboard <%= "waiting" if @waiting %>">
  <div class='text-center'>
    <h3><%= link_to "Play against yourself", play_against_yourself_path, class: 'btn btn-info',method: :post if @waiting%></h3>
    <br />
  </div>
  <br />
  <div class="row">
    <div id="whiteplayer" class="col-2 text-center">
      <% if user_signed_in? && @game.turn == @game.white_player.id && !@waiting %>
        <h5>White Player's Turn</h5>
        <%= image_tag gravatar_for(@game.white_player.email), alt: "@game.white_player.email" %>
      <% end %>
    </div>
    <div class="col-8">
      <% @board.reverse_each.with_index do |row, index_row| %>
          <%index_row = @board.length - index_row - 1 %>
          <div class = "row offset-2">
            <% row.each_with_index do |field, index_field| %>
              <span row = "<%=index_row%>" column = "<%=index_field%>" class="chess_field ui-widget-header <%= field[:class]%>">
                <% unless field[:piece].nil? %>
                  <span id="<%= field[:piece].id %>" class="ui-widget-content piece"><%= image_tag(field[:piece].image)%></span>
                <%end%>
              </span>
            <%end%>
          </div>
      <%end%>
    </div>
    <div id="blackplayer" class="col-2 text-center">
      <% if user_signed_in? && !@waiting && @game.turn == @game.black_player.id %>
        <h5>Black Player's Turn</h5>
        <%= image_tag gravatar_for(@game.black_player.email), alt: "@game.black_player.email" %>
      <% end %>
    </div>
    <br class="clear"/>
  </div>
</div>

<!-- Modal for pawn promotion-->
<% if @game.game_status == 0 %>
  <div class="modal fade" id="pawnPromotion" tabindex="-1" role="dialog" aria-labelledby="pawnPromotionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="pawnPromotionLabel">Choose a Piece</h4>
        </div>
        <%= simple_form_for current_piece, url: piece_path(current_piece.id) do |f| %>
          <div class="modal-body">
            <%= f.input :type %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Choose your piece", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "sign out",  destroy_user_session_path, method: :delete %>

<script>

  $(function() {
      // $("body").css("background","white" );
      $(".chessboard .piece").draggable({
        opacity: .4,
        create: function(){$(this).data('position',$(this).position())},
        cursorAt:{left:15},
        cursor:'move',
        start:function(){$(this).stop(true,true)}
      });

      let pieceId = 0;
      $(".piece").mousedown(function(){
        pieceId = $(this).attr('id');
      });

      $(".chess_field").droppable({
        classes: {
          "ui-droppable-hover": "ui-state-hover"
        },
        drop: function(event, ui) {
          snapToMiddle(ui.draggable,$(this));
          let row = $(this).attr('row');
          let column = $(this).attr('column');
          $.ajax({type: "PUT",
                 url: "/pieces/" + pieceId,
                 data: {
                    piece: {
                      row_coordinate: row,
                      column_coordinate: column,
                      id: pieceId
                      }
                 },
                error: function(xhr, status) {
                    if (xhr.status === 500 || xhr.status === 400){}
                    window.location.reload();
                    },
                success: function(data) {
                  if (data.piece.type === 'Pawn' && (data.piece.row_coordinate === 7 || data.piece.row_coordinate === 0)) {
                      $("#pawnPromotion").html(data);
                      jQuery("#pawnPromotion").modal('show');
                    }
                  window.location = window.location + '#loaded'; }
          });
        }
      });
      function snapToMiddle(dragger, target){
        var topMove = target.position().top - dragger.data('position').top + (target.outerHeight(true) - dragger.outerHeight(true)) / 2;
        var leftMove= target.position().left - dragger.data('position').left + (target.outerWidth(true) - dragger.outerWidth(true)) / 2;
        dragger.animate({top:topMove,left:leftMove},{duration:100,easing:'easeOutBack'});
      }
      let response = "default";
      let url = window.location.href;
      let gameId = Number(url.substring(url.lastIndexOf('/') + 1).match(/\d+/)[0]);
      if(url.indexOf("#loaded") === -1) {
              let id = setInterval(checkGameAvailable, 4000);
              function checkGameAvailable () {
                        let response = $.ajax({type: "GET", url: gameId +"/game_available", async: false}).responseText;
                        if (response === "false") {
                            clearInterval(id);
                            // reloading the page once to populate the board for the person who was waiting for a player
                            window.location = window.location + '#loaded';
                            window.location.reload();
                          }
              };
      }

  });
</script>
