
<div class="chessboard <%= "waiting" if @waiting %>">
  <% @board.reverse_each.with_index do |row, index_row| %>
      <%index_row = @board.length - index_row - 1 %>
      <div class = "row offset-3">
        <% row.each_with_index do |field, index_field| %>
          <span row="<%=index_row%>" column= "<%=index_field%>" class="chess_field ui-widget-header <%= field[:class] %>">
            <% unless field[:piece].nil? %>
              <span id="<%= field[:piece].id %>" class="ui-widget-content piece"><%= image_tag(field[:piece].image)%></span>
            <%end%>
          </span>
        <%end%>
      </div>
  <%end%>
</div>
<%= link_to "sign out",  destroy_user_session_path, method: :delete %>

<script>
  $(function() {
      $(".chessboard .piece").draggable();
      let pieceId = 0;
      $(".piece").mousedown(function(){
      pieceId = $(this).attr('id');
      });
      console.log(pieceId);
      $(".chess_field ").droppable({
        drop: function() {
          let row = $(this).attr('row');
          let column = $(this).attr('column');
          $.post("/pieces/" + pieceId, {
            _method: "PUT",
            piece: {
              row_coordinate: row,
              column_coordinate: column,
              id: pieceId
            }
          });
        }
      });

      let response = "false";
      let url = window.location.href;
      let gameId = Number(url.substring(url.lastIndexOf('/') + 1).match(/\d+/)[0]);
      if(url.indexOf("#loaded") === -1) {
              let id = setInterval(checkGameAvailable, 2000);
              function checkGameAvailable () {
                        let response = $.ajax({type: "GET", url: gameId +"/game_available", async: false}).responseText;
                        if (response === "false") {
                            clearInterval(id);
                            // reloading the page once to populate the board for the person who was waiting for a player
                            window.location = window.location + '#loaded';
                            window.location.reload();
                          }
              };
      }

  });
</script>
